
@using System.Runtime.Serialization
@model VehicleTenderCore.Entities.View.TenderDetail.TenderDetailListVM
<div style="margin-top:125px;"></div>

<div class="mb-5">
	<div class="d-flex justify-content-around">
		<label asp-for="TenderName" class="text-decoration-underline font-weight-bold text-uppercase"></label>
		<label asp-for="StartDateTime" class="text-decoration-underline font-weight-bold text-uppercase"></label>
		<label asp-for="EndDateTime" class="text-decoration-underline font-weight-bold text-uppercase"></label>
	</div>
	<div class="d-flex justify-content-around">
		<label>@Model.TenderName</label>
		<label>@Model.StartDateTime</label>
		<label>@Model.EndDateTime</label>
	</div>
</div>

@{
	int sayac = 0;
}

@foreach (var item in Model.TenderAndVehicleDetailList)
{
	<div class="row mb-5">
		<div id="carouselExampleControls@(sayac)" class="carousel slide col-md-7" data-ride="carousel">
			<div class="carousel-inner">
				@foreach (var image in item.VehicleImages)
				{
					<div class="carousel-item @if (image == item.VehicleImages[0]) { <text>active</text> }">
						<img class="d-block w-100" src="http://localhost:33901/@image" alt="First slide style="height="350px;">
					</div>
				}
			
			</div>
			<a class="carousel-control-prev" href="#carouselExampleControls@(sayac)" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleControls@(sayac++)" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
		
		<div class="col-md-4 border p-3">
			<div class="d-flex flex-column bd-highlight mb-3">
				<div>
					<div class="d-flex justify-content-between bd-highlight mb-3">
						<pre>Araç Plaka</pre>
						<p style="font-size:30px;">@item.LicencePlate</p>
					</div>
					<div class="d-flex justify-content-between bd-highlight mb-3">
						<p>İhale Fiyatı</p>
						<p style="font-size:30px;">@item.StartPrice</p>
					</div>
				</div>
				<div>
					<form >
						<div class="d-flex justify-content-end bd-highlight mb-3">
							<input type="number" class="form-control col-md-6"/>
						</div>
						<div class="d-flex justify-content-end bd-highlight mb-3">
							<input type="submit" class="btn btn-success col-md-4"/>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	
}
